h2 {
padding: 150px 50px 50px;
}

.product-details {
    padding-top: 50px;
}

.container {
    padding-bottom: 50px;
}

.btn-primary {
    background-color: var(--accent);
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.btn-primary:hover {
    background-color: #27c561;
}

.full-width-btn button {
    width: 100%;
    text-align: center;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}